body{
  font-family:'Open-sans', sans-serif;
  font-size:17px;
  background-color: black;
  color: inherit;
  line-height:1.5em;
  margin:0;
  padding:0;
}

img{
  width:100%;
}

.container{
  margin:auto;
}

/* COMMON CLASSES */
.primary-text{
  color:#65f442;
}

.primary-background{
  background:#000000;
}

/* HEADER */
#main-header{
  border-bottom:1px solid #65f442;
  background-color: black;
  color: white;
}

/* NAVBAR */
#navbar{
  text-transform:uppercase;
  padding-bottom:1px;
  padding-top: 8px;
}

#navbar li{
  display:inline;
  padding-right:20px;
  list-style:none;
}

#navbar a{
  text-decoration:none;
  color:#ffffff;

}

#navbar li.current a, #navbar a:hover{
  color:#65f442;
  border-bottom: 2px solid #65f442;
}

/* SHOWCASE */
#showcase{
  background:url('../images/showcase.jpg') no-repeat center center;
  border-bottom:1px solid #65f442;
  margin-bottom:30px;
}

#showcase .row{
  height:600px;
}

#showcase h1{
  font-size:50px;
  margin:0;
  padding-bottom:20px;
  position: relative;
  top: 15%;
}

#showcase p{
  color:#e2f41d;
  margin:0;
  position: relative;
  top: 13%;
}

#showcase .showcase-content{
  background:#333;
  color:#000000;
  border-radius:90px;
  padding:40px;
  opacity:0.9;
}

/* FEATURES */
#features h2{
  font-size:35px;
  margin:0;
  padding-bottom:10px;
}

#features p{
  color:#e2f41d;
  margin:0;
  margin-bottom:40px;
}

#features .fa{
  font-size:60px;
  color:#65f442;
}


/* FOOTER */
#main-footer{
  background:#65f442;
  color:#fff;
}

/* PAGE */
#page{
  margin-bottom:40px;
}

/*Dashboad*/

.box:nth-child(even) {
  background-color: #65f442;
  color: #000;
}

.box:nth-child(odd) {
  background-color: #42adf4;
  color: #000;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(6, 10%);
  border:1px solid #65f442;
}

.with-height {
  height: 500px;
}

/*CARD Carousel */
.card-block {
  background-color: black;
  color: white;
}
